@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Fractal"; }
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Avenir&display=swap" rel="stylesheet" />
    <style>

        * {
            overflow-x: hidden;
            padding: 0px !important;
            margin: 0px !important;
        }

        .v5_14 {
            width: 100%;
            height: 700px;
            background: rgba(239,241,244,1);
            @*padding: 10px 10px;
            margin: 10px;*@
            margin: 0px;
            padding: 0px;
            opacity: 1;
            position: relative;
            top: 0px;
            left: 0px;
            overflow: hidden;
        }

        .v5_20 {
            width: 257px;
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 22px;
            left: 447px;
            font-family: Avenir;
            font-weight: Black;
            font-size: 36px;
            opacity: 1;
            text-align: left;
        }

        .v8_0 {
            width: 847px;
            height: 521px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 135px;
            left: 283px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: hidden;
        }

        .v11_140 {
            width: 326px;
            height: 615px;
            background: url("../../Resourses/images/v11_140.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 85px;
            left: 2px;
            overflow: hidden;
        }

        .v8_7 {
            width: 100px;
            height: 100px;
            background: rgba(196,196,196,1);
            opacity: 1;
            position: absolute;
            top: 89px;
            left: 93px;
            overflow: hidden;
        }

        .v8_1 {
            width: 268px;
            height: 615px;
            background: rgba(229,233,239,1);
            opacity: 1;
            position: absolute;
            top: 0px;
            left: 1px;
            border: 1px solid rgba(0,0,0,0.5);
            border-top-right-radius: 10px;
            overflow: hidden;
        }

        .name {
            color: #fff;
        }

        .v10_67 {
            width: 198px;
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 320px;
            left: 23px;
            font-family: Avenir;
            font-weight: Medium;
            font-size: 25px;
            opacity: 1;
            text-align: left;
        }

        .v10_38 {
            top: 265px;
            position: absolute;
            left: 40px;
            overflow: hidden;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            color: #6C757D;
            background: rgba(255, 255, 255,1);
            width: 92px;
            height: 36px;
            opacity: 1;
            border-radius: 7px;
            margin: 0;
        }

        .v10_39 {
            width: 92px;
            height: 36px;
            background: rgba(255,255,255,1);
            opacity: 1;
            position: absolute;
            top: 32px;
            left: 0px;
            border: 1px solid rgba(223,223,223,1);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            overflow: hidden;
        }
        .v10_40 {
            width: 11px;
            height: 24px;
            background: url("../../Resourses/images/v10_40.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin: 2px;
            opacity: 1;
            position: absolute;
            top: 38px;
            left: 12px;
            overflow: hidden;
        }

        .v10_41 {
            width: 11px;
            color: rgba(108,117,125,1);
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            opacity: 1;
            text-align: left;
        }

        .v10_42 {
            width: 1px;
            height: 16px;
            background: rgba(33,37,41,1);
            opacity: 1;
            position: absolute;
            top: 9px;
            left: 118px;
            overflow: hidden;
        }

        .v10_48 {
            width: 8px;
            height: 16px;
            background: rgba(255,255,255,1);
            opacity: 1;
            position: absolute;
            top: 43px;
            left: 71px;
            overflow: hidden;
        }

        .name {
            color: #fff;
        }

        .v10_79 {
            top: 450px;
            position: absolute;
            left: 40px;
            overflow: hidden;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            color: #6C757D;
            background: rgba(255, 255, 255,1);
            width: 92px;
            height: 36px;
            opacity: 1;
            border-radius: 7px;
            margin: 0;
        }

        .v10_80 {
            width: 92px;
            height: 36px;
            background: rgba(255,255,255,1);
            opacity: 1;
            position: absolute;
            top: 32px;
            left: 0px;
            border: 1px solid rgba(223,223,223,1);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            overflow: hidden;
        }

        .v10_81 {
            width: 34px;
            height: 24px;
            background: url("../../Resourses/images/v10_81.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin: 2px;
            opacity: 1;
            position: absolute;
            top: 38px;
            left: 12px;
            overflow: hidden;
        }

        .v10_83 {
            width: 1px;
            height: 16px;
            background: rgba(33,37,41,1);
            opacity: 1;
            position: absolute;
            top: 13px;
            left: 118px;
            overflow: hidden;
        }

        .v10_82 {
            width: 34px;
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            opacity: 1;
            text-align: left;
        }

        .v10_84 {
            width: 8px;
            height: 16px;
            background: rgba(255,255,255,1);
            opacity: 1;
            position: absolute;
            top: 43px;
            left: 71px;
            overflow: hidden;
        }

        .name {
            color: #fff;
        }

        .v10_90 {
            width: 109px;
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 405px;
            left: 21px;
            font-family: Avenir;
            font-weight: Medium;
            font-size: 25px;
            opacity: 1;
            text-align: left;
        }

        .name {
            color: #fff;
        }
.v8_44 {
            width: 17px;
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 105px;
            left: 23px;
            font-family: Avenir;
            font-weight: Medium;
            font-size: 25px;
            opacity: 1;
            text-align: left;
        }
        .v8_45 {
            color: rgba(0,0,0,0.6);
            position: absolute;
            top: 155px;
            left: 23px;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            opacity: 1;
            text-align: left;
        }
        .v8_46 {
            color: rgba(0,0,0,0.6);
            position: absolute;
            top: 185px;
            left: 23px;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            opacity: 1;
            text-align: left;
        }
        .v10_8 {
            width: 18px;
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 220px;
            left: 23px;
            font-family: Avenir;
            font-weight: Medium;
            font-size: 25px;
            opacity: 1;
            text-align: left;
        }

        .v10_5 {
            width: 11px;
            color: rgba(0,0,0,0.6000000238418579);
            position: absolute;
            top: 169px;
            left: 70px;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            opacity: 1;
            text-align: left;
        }

        .v10_6 {
            width: 11px;
            color: rgba(0,0,0,0.6000000238418579);
            position: absolute;
            top: 202px;
            left: 70px;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            opacity: 1;
            text-align: left;
        }

        .v8_8 {
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 66px;
            left: 41px;
            font-family: Avenir;
            font-weight: Book;
            font-size: 18px;
            opacity: 1;
            text-align: left;
        }

        .v10_78 {
            width: 121px;
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 14px;
            left: 23px;
            font-family: Avenir;
            font-weight: Medium;
            font-size: 25px;
            opacity: 1;
            text-align: left;
        }

        .name {
            color: #fff;
        }

        .name {
            color: #fff;
        }

        .name {
            color: #fff;
        }

        .name {
            color: #fff;
        }

        .name {
            color: #fff;
        }

        .v11_136 {
            width: 137px;
            height: 41px;
            background: url("../../Resourses/images/v11_136.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 26px;
            left: 21px;
            overflow: hidden;
        }

        .v8_3 {
            width: 32px;
            height: 39px;
            background: url("../Resourses/images/v8_3.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 0.7400000095367432;
            position: absolute;
            top: 1px;
            left: 0px;
            overflow: hidden;
        }

        .v11_11 {
            width: 103px;
            color: rgba(0,0,0,0.75);
            position: absolute;
            top: 0px;
            left: 34px;
            font-family: Avenir;
            font-weight: Book;
            font-size: 30px;
            opacity: 1;
            text-align: left;
        }
        .v27_29 {
            width: 75px;
            height: 75px;
            background: url("../../Resourses/images/v27_29.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 16px;
            left: 1064px;
            overflow: hidden;
        }

        .v27_22 {
            width: 66px;
            height: 60px;
            background: rgba(226,226,226,1);
            opacity: 1;
            position: relative;
            top: 0px;
            left: 0px;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .v27_27 {
            width: 10px;
            height: 10px;
            background: rgba(196,196,196,1);
            opacity: 1;
            position: absolute;
            top: 14px;
            left: 28px;
            border-radius: 50%;
        }

        .v27_28 {
            width: 8px;
            height: 23px;
            background: rgba(196,196,196,1);
            opacity: 1;
            position: absolute;
            top: 26px;
            left: 29px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            overflow: hidden;
        }
        .myCanvas {
            top: 135px;
            left: 283px;
            position: absolute;
            border-radius: 10px;
        }
        #e11_472 {
            overflow: hidden;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: rgba(28, 73, 121, 1);
            opacity: 1;
            width: 242px;
            height: 38px;
            border-radius: 4px;
            position: absolute;
            top: 530px;
            left: 11px;
        }

        #e11_473 {
            color: rgba(255, 255, 255, 1);
            opacity: 1;
            width: 120px;
            height: 30px;
            position: absolute;
            left: 71px;
            top: 4px;
            font-family: Avenir;
            text-align: left;
            font-size: 17px;
            letter-spacing: 0;
            line-height: 30px;
        }
        .dropdown {
            width: 122px;
            color: .black;
            border-radius: 4px;
            top: 365px;
            left: 40px;
            opacity: 1;
        }
        /* Popup box BEGIN */
        .hover_bkgr_fricc {
            background: rgba(0,0,0,.4);
            cursor: pointer;
            display: none;
            height: 100%;
            position: fixed;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 10000;
        }

            .hover_bkgr_fricc .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

            .hover_bkgr_fricc > div {
                background-color: #fff;
                box-shadow: 10px 10px 60px #555;
                display: inline-block;
                height: auto;
                max-width: 551px;
                min-height: 100px;
                vertical-align: middle;
                width: 60%;
                position: relative;
                border-radius: 8px;
                padding: 15px 5%;
            }

        .popupCloseButton {
            background-color: #fff;
            border: 3px solid #999;
            border-radius: 50px;
            cursor: pointer;
            display: inline-block;
            font-family: arial;
            font-weight: bold;
            position: absolute;
            top: -20px;
            right: -20px;
            font-size: 25px;
            line-height: 30px;
            width: 30px;
            height: 30px;
            text-align: center;
        }

            .popupCloseButton:hover {
                background-color: #ccc;
            }

        .trigger_popup_fricc {
            cursor: pointer;
            font-size: 20px;
            margin: 20px;
            display: inline-block;
            font-weight: bold;
        }
        /* Popup box BEGIN */
    </style>
</head>
<body>
    <div class="v5_14">
        <span class="v5_20">Newton fractal</span>
        <div class="v8_0"></div>
        <div class="v11_140">
            <div class="v8_7"></div>
            <div class="v8_1"></div>
            <div class="name"></div>
            <span class="v10_67">Color scheme</span>
            <input id="inc" class="v10_38" type="number" value="1" min="-1000" max="1000">
            <input id="inz" class="v10_79" type="number" value="1.1" step="0.1" min="0.1" max="10">
            <span class="v10_90">Scale</span>
            <div class="name"></div>
            <span class="v8_44">k </span>
            <form>
                <fieldset id="group1">
                    <div class="v8_45">
                        <input type="radio" id="k3" name="group1" value="3" checked="checked">
                        <label for="k3">3</label>
                    </div>
                    <div class="v8_46">
                        <input type="radio" id="k4" name="group1" value="4">
                        <label for="k4">4</label>
                    </div>
                </fieldset>
            </form>
            <form action="/action_page.php" class="dropdown">
                <select name="cars" id="cars">
                    <option value="rgb" selected="selected">RGB</option>
                    <option value="blues">Blues</option>
                </select>
            </form>
            <span class="v10_8">C</span>
            <span class="v8_8">f(x) = x<sup><span id="kdd">3</spanid="kdd"></sup><span id="cdd">+ 1</span></span>
            <span class="v10_78">f(x) = x<sup>k</sup>+c</span>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div id="e11_472"><span id="e11_473">Draw fractal</span></div>
        </div>
        <img id="canv" class="myCanvas" width="840" height="520" src="../../Resourses/images/Fractal.jpg">

        <div class="v27_29" id="v27_29">
            <div class="v27_22"></div>
            <div class="v27_27"></div>
            <div class="v27_28"></div>
        </div>

        <div class="hover_bkgr_fricc" id="hover_bkgr_fricc">
            <span class="helper" id="helper"></span>
            <div>
                <div class="popupCloseButton" id="popupCloseButton">&times;</div>
                <p>
                    The word "fractal" often has different connotations for the lay public as opposed to mathematicians, where the public is more likely to be familiar with fractal art than the mathematical concept. The mathematical concept is difficult to define formally, even for mathematicians, but key features can be understood with a little mathematical background.

                    The feature of "self-similarity", for instance, is easily understood by analogy to zooming in with a lens or other device that zooms in on digital images to uncover finer, previously invisible, new structure. If this is done on fractals, however, no new detail appears; nothing changes and the same pattern repeats over and over, or for some fractals, nearly the same pattern reappears over and over. Self-similarity itself is not necessarily counter-intuitive (e.g., people have pondered self-similarity informally such as in the infinite regress in parallel mirrors or the homunculus, the little man inside the head of the little man inside the head ...). The difference for fractals is that the pattern reproduced must be detailed
                </p>
            </div>
        </div>

        <script>
            document.getElementById('v27_29').onclick = function () {
                document.getElementById('hover_bkgr_fricc').style.display = 'block';
            }
            document.getElementById('hover_bkgr_fricc').onclick = function () {
                document.getElementById('hover_bkgr_fricc').style.display = 'none';
            }
            document.getElementById('popupCloseButton').onclick = function () {
                document.getElementById('hover_bkgr_fricc').style.display = 'none';
            }
            /*document.getElementById('k3').onclick = function () {
                documnet.getElementById('kdd').inerHTML = "3";
            }
            document.getElementById('k4').onclick = function () {
                documnet.getElementById('kdd').inerHTML = "4";
            }
            document.getElementById('inc').onchange = function () {
                documnet.getElementById('cdd').inerHTML = "+" + document.getElementById('inc').value;
            }*/

            var draw = document.getElementById('e11_472');
            draw.onclick = function () {
                var c = parseInt(document.getElementById('inc').value);
                var zoom = parseFloat(document.getElementById('inz').value);
                var k = 3;
                if (document.getElementById('k3').checked) {
                    var k = 3;
                }
                else {
                    var k = 4;
                }
                var color = false;
                if (document.getElementById('cars').value == "rgb") {
                    color = false;
                }
                else {
                    color = true;
                }
                var data = {
                    c: c,
                    k: k,
                    zoom: zoom,
                    color: color
                }
                var url = "https://localhost:44322/Fractal/print/";
                $.post(url, data, function () {
                    console.log("success");
                })
                    .done(function () { console.log("second success"); })
                    .fail(function () { console.log("error"); })
                    .always(function () { console.log("finished"); location = location; });
                /*$.ajax(type: 'POST',
                    dataType: 'json',
                    url: 'Fractal/print',
                    data: {
                    c: '1',
                    k: <img src="file:///C:\Users\admin\AppData\Local\Temp\09o8yrdi.bmp" />'4',
                    zoom: '2',
                    color: 'true'
                    },
                    success: function (Data) {
                        alert('OK');
                        document.getElementById('canv').src = "../../Resourses/images/Fractal.jpg";
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('error');
                    }); */


            }

        </script>

    </div>
</body>
</html>