@{
    ViewBag.Title = "Home Page";
}
<style>
    #e11_472 {
        overflow: hidden;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgba(28, 73, 121, 1);
        opacity: 1;
        width: 242px;
        height: 38px;
        border-radius: 4px;
        position: absolute;
        top: 530px;
        left: 11px;
    }
</style>
<a href="/Fractal/"><div id="e11_472"><span id="e11_473">fractal</span></div></a>